<i ng-hide="vm.loaded" class="fa fa-refresh fa-5x fa-spin"></i>
<section class="list-view" ng-show="vm.loaded">
    <h2 class="list-header">{{vm.list.name}}</h2>
    <p class="list-description">{{vm.list.description}}</p>

    <ul class="list-unstyled">
        <div ng-repeat="item in vm.list.listItems | orderBy:'orderNum'" class="list-item row">
            <div class="col-md-1">
                <span class="item-order-num">{{item.orderNum}}.</span>
            </div>
            <div class="col-md-11 item-content-wrapper">
                <h3 class="item-header">{{item.title}}</h3>
                <p>{{item.body}}</p>
            </div>
        </div>
    </ul>
</section>
