@list-item-bg-a: @bg-a;

.list-view-edit {
    .list-header,
    .list-description {
        background: transparent;
        border-style: dashed;
        width: 100%;
    }
}

.list-item-edit {
    .item-header,
    .item-body {
        background: transparent;
        border: 1px dashed #333;
        width: 100%;
    }

    &:nth-child(even) {
        background: lighten(@list-item-bg-a, 5%);
    }
}

.item-options-wrapper {
    display: inline-block;
    font-size: 1.5em;

    i {
        font-style: normal;
        padding: 0 5px;

        &.fa-trash {
            font-size: .8em;
            padding: 2px 5px
        }
    }
}
